<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <link href="https://fonts.googleapis.com/css?family=Gamja+Flower|Oswald" rel="stylesheet">
        <script data-require="angular.js@1.3.10" data-semver="1.3.10" src="https://code.angularjs.org/1.3.10/angular.js"></script>
        <script src="main.js"></script>
        <link rel="stylesheet" type="text/css" href="styles.css" />
    </head>
    <body ng-app="myApp">
        <div ng-controller='myController'>
            <div class="form">
                <h3>Provide the Words</h3>         
                <input ng-model="female_name" />
                <input ng-model="position" />
                <input ng-model="tedious_task" />
                <input ng-model="dirty_task" />
                <input ng-model="celebrity" />
                <input ng-model="female_name" />
                <input ng-model="useless_skill" />
            </div>
            <div class="display">
                <p>{{ female_name }} was a {{ position }}. Although she loved parts of her job, 
                    she absolutely hated {{tedious_task}} and {{dirty_task}}. So, {{female_name}} met 
                    with her life mentor {{celebrity}} who told her to learn how 
                    to {{useless_skill}} with Thinkful. Thinkful didn't offer a 
                    course on {{useless_skill}} so she studied programming instead. 
                </p> 
            </div>
        </div>
    </body>
</html> 
