body {
    padding: 100px; 
    background-color: rgb(51, 58, 52); 
}

p {
    color: white; 
    font-family: arial; 
    line-height: 150%;
    margin: 0px;  
}

h2 {
    color: white; 
    font-family: arial; 
    margin: 0px 0px 40px 0px; 
}

input {
    padding: 10px 13px; 
    border: 0px; 
    border-radius: 5px; 
    font-size: 14px; 
    margin: 0px 10px 20px 0px; 
}

.form {
    background-color: rgb(74, 82, 75); 
    padding: 50px; 
    border-radius: 5px; 
    text-align: center; 
}

.display {
    margin-top: 30px; 
    background-color: rgb(107, 119, 108); 
    padding: 50px; 
    border-radius: 5px;   
}

.display p {
    font-family: 'Gamja Flower', cursive;
    font-size: 24px; 
}
